[submodule "EpicGameEngine/dependencies/spdlog"]
	path = EpicGameEngine/dependencies/spdlog
	url = https://github.com/rishant3441/spdlog
[submodule "EpicGameEngine/dependencies/imgui"]
	path = EpicGameEngine/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "EpicGameEngine/dependencies/glm"]
	path = EpicGameEngine/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "EpicGameEngine/dependencies/yaml-cpp"]
	path = EpicGameEngine/dependencies/yaml-cpp
	url = https://github.com/rishant3441/yaml-cpp
