[submodule "EpicGameEngine/dependencies/spdlog"]
	path = EpicGameEngine/dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "EpicGameEngine/dependencies/imgui"]
	path = EpicGameEngine/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
